.section {
    h3 {
        padding: 22px;
        text-align: center;
    }

    table {
        width: 84%;
    }

    cursor: pointer;
    ;
}

.clearfix {
    float: none;
    box-sizing: border-box;
}