* {
    font-size: 19px;
}

header {
    img {
        margin-left: -16px;
        height: 60.9px;
    }
}

.sidebar-for-admin {
    position: sticky;
    top: 0;
    background-color: white;

    .main {
        float: left;

        h3 {
            padding: 16px;
            color: red;
        }

        p {
            margin-left: -25px;
            margin-top: -15px;
        }

        .sidebar {
            background-color: white;
            position: sticky;
            top: 0;

            ul {
                border-radius: 0px 0px 8px 0px;

                li a:hover {
                    background-color: #418fc8 !important;
                }
            }
        }


        .user-panel {
            background-color: #418fc8;
        }

    }
}